@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
}

main {
    border: 2px solid;
    margin: 10px;
    padding: 20px;
}

/* 사이드 메뉴 바 */
aside {
    position: relative;
}

aside .side_menus {
    width: 250px;
    height: auto;
    border: 2px solid;
    position: absolute;
    top: 0;
    /* border가 2px 이기때문에 -254px 줌 양쪽 2px씩*/
    left: -254px;
    background-color: white;
}

aside .side_menus>#side_menu_bar_btn {
    position: relative;
}

aside .side_menus>div #side_menu_bar_btn_img {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 30px;
    left: 250px;
    transition: width 1s;
}

aside .title_menu_btn {
    margin: 5px 0;
    padding: 5px;
    border: 0px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}

aside .title_menu_btn:hover {
    cursor: pointer;
}

aside .side_menus>div #side_menu_bar_btn_img:hover {
    width: 50px;
    cursor: pointer;
}

aside .title_wrap {
    max-height: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all 0.5s;
}

aside .side_menus a {
    display: block;
    margin: 0 20px 5px 20px;
    padding: 0 5px;
    text-align: left;
    /* border: 2px solid; */
    /* border-radius: 5px; */
    font-size: 18px;
}

aside .side_menus a:hover {
    background-color: #d4d4d4;
}



/* header */
header {
    font-family: 'ONE-Mobile-Title';
}

/* Home. index */
#index {
    font-family: 'ONE-Mobile-Title';
}

.main_title {
    text-align: center;
    padding: 30px;
}

.main_nav {
    margin: 10px;
    padding: 10px 0;
    background-color: #614498;
}

.main_nav>ul>li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
}

.main_nav>ul>li:hover {
    background-color: #3D2C60;
}

.main_nav>ul>li>a {
    color: white;
}

.section_container {
    border: 1px solid;
}

.sub_title {
    margin: 30px 10px;
    font-size: 24px;
}

.sub_title a:hover {
    color: rgb(191, 171, 171);
}



/* 3. currentTime */
.currentTime_article {
    text-align: center;
}

.currentTime_article .currentTime_title {
    margin: 10px 0;
}

.currentTime_article>.time {
    font-size: 50px;
}

.currentTime_article .check_box_container {
    display: flex;
    width: 70px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px auto;
    font-size: 20px;
}

.currentTime_article #check_box {
    zoom: 1.5;
}

.currentTime_article .select_time_notation_title {
    width: 100%;
    margin: 20px 0 10px 0;
}

.currentTime_article .select_time_notation {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.currentTime_article .select_time_notation>input {
    margin: 0 5px;
    zoom: 1.5;
}

.currentTime_article>button {
    margin: 0 5px 20px 5px;
    width: 70px;
    height: 40px;
    font-size: 16px;
    border: 1px solid;
    color: white;
    background-color: #4caf50;
}

.currentTime_article>button:hover {
    background-color: #367e38;
}



/* 4. stopWatch */
.stop_watch_article {
    height: 530px;
    text-align: center;
}

.stop_watch_article .stop_watch_title {
    margin: 10px 0;
}

.stop_watch_article .stop_watch_container {
    display: flex;
    flex-direction: column;
}

.stop_watch_article #stop_watch_timer {
    font-size: 50px;
}

.stop_watch_article .stop_watch_button_container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 30px 0;
}

.stop_watch_article .stop_watch_button_container button {
    margin: 0 10px;
    width: 70px;
    height: 40px;
    font-size: 16px;
    border: 1px solid;
    color: white;
    background-color: #4caf50;
}

.stop_watch_article .stop_watch_button_container button:hover {
    background-color: #367e38;
}

.stop_watch_article .saveTime_title {
    margin: 5px auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.stop_watch_article .saveTime_title span {
    width: 300px;
}

.stop_watch_article .saveTime_container {
    height: 200px;
    overflow: auto;

    border-bottom: 2px solid;
}

.stop_watch_article .stop_watch_save_times {
    margin: 10px auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 90%;
}

.stop_watch_article .stop_watch_save_times span {
    width: 300px;
}

.stop_watch_article .brief {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



/* 5. timer */
.timer_article {
    text-align: center;
}

.timer_article_title {
    margin: 5px 0 30px 0;
}

.timer_article .input_time_wrap>input {
    width: 55px;
    height: 40px;
    font-size: 30px;
}

.timer_article .input_time_wrap>span {
    font-weight: bold;
    font-size: 26px;
}

.timer_article .input_time {
    width: 30px;
    text-align: center;
}

.timer_article .input_time_wrap>span {
    margin: 0 5px;
}

.timer_article .time_input_button {
    width: 300px;
    height: 45px;
    margin: 20px;
    font-size: 22px;
    background-color: #4caf50;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

.timer_article .time_input_button:hover {
    background-color: #367e38;
}

.timer_article .timer_wrap {
    height: 100px;
}

.timer_article #timer {
    font-size: 70px;
    margin: 0 auto;
    width: 50%;
}

.timer_article .buttons {
    margin: 30px 10px;
    width: 100px;
    height: 60px;
    font-size: 22px;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    background-color: #4caf50;
}

.timer_article .buttons:hover {
    background-color: #367e38;
}

.timer_article .refer {
    margin: 20px 0 0 0;
    font-weight: bold;
}

/* 6. toDoList */
#toDoList {
    font-family: Arial, sans-serif;
}

.to_do_list_article h1 {
    color: #333;
    text-align: center;
}

.to_do_list_article #time {
    text-align: center;
}

.to_do_list_article .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.to_do_list_article #todoInput {
    padding: 8px;
    width: 250px;
}

.to_do_list_article #addButton {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.to_do_list_article .input_date_time {
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
    padding: 0 17px;
}

.to_do_list_article #todoList {
    list-style-type: none;
    padding: 0;
}

.to_do_list_article li {
    margin-bottom: 5px;
    padding: 8px;
    background-color: #dbd3d3;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.to_do_list_article li span {
    flex-grow: 1;
    margin-right: 10px;
}

.to_do_list_article li button {
    padding: 4px 8px;
    margin: 0 5px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
}



/* 7. dictaion */
.dictation_article {
    text-align: center;
}

.dictation_article .read_field {
    margin: 20px 0;
}

.dictation_article .read_field #read_content {
    margin: 10px auto;
    width: 600px;
    border: 2px solid;
    padding: 10px;
    line-height: 200%;
    font-size: 18px;
    font-weight: bold;
    resize: none;
}

.dictation_article .write_field {
    margin: 20px 0;
}

.dictation_article .write_field #write_content {
    width: 580px;
    height: 200px;
    padding: 10px;
    font-weight: bold;
    resize: none;
}



/* 8. calculator */
.calculator_article {
    text-align: center;
}

.calculator_article .calculator_container {
    border: 2px solid;
    padding: 10px 20px;
}

.calculator_article .calculator_container {
    width: 460px;
    height: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.calculator_article #calculator_window_display {
    height: 120px;
    border: 2px solid;
    display: flex;
    align-items: center;
    font-size: 70px;
    text-align: right;
}

.calculator_article #calculator_window_display p {
    width: 95%;
    overflow: auto;
}

.calculator_article .calculator_number_container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calculator_article .calculator_numbers {
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 32px;
}




/* 9. percentage */
.percentage_title {
    margin: 25px 0;
    font-size: 40px;
    font-weight: bold;
}

.percentage_article {
    text-align: center;
}

.percentage_article_input_wrap {
    margin-bottom: 50px;
}

.percentage_article_input_wrap>div {
    padding: 10px;
}

#input_percentage {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 8px;
}

#change_percent {
    padding: 10px 0;
    width: 80px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    border: 1px solid;
    border-radius: 8px;
}

#change_percent:hover {
    background-color: #367e38;
}

.percentage_article_input_wrap>span {
    font-weight: bold;
    color: white;
}

#percentage_entire {
    border-radius: 25px;
    background-color: rgb(187, 185, 185);
    height: 50px;
    margin: 0 150px;
}

#percentage_part {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background-color: rgb(255, 160, 255);
    animation: percent 1s 1;
    position: relative;
}

/* 시작시에만 */
@keyframes percent {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#gauge_quantity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: rgb(169, 73, 233);
}

.percentage_article .refer {
    margin: 20px 0 0 0;
    font-weight: bold;
}



/* 10. draw */
.paint_article {
    text-align: center;
}

.paint_article h1 {
    margin: 10px 0 20px 0;
}

.paint_article #box {
    margin: 0 auto;
    border: 1px solid;
}

.paint_article .refer {
    margin: 20px 0 0 0;
    font-weight: bold;
}



/* 12. addBox */
.add_box_article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 2px solid;
}

.add_box_article>button {
    width: 150px;
    height: 60px;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.add_box_article>div {
    width: 250px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.add_box_article p {
    display: inline-block;
}

.box_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.add_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.add_box:hover {
    background-color: #e2e2e2;
    transform: scale(1.05);
}

.add_box>.delete_button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 13. moveBox */
.move_box_article{
    position: relative;
    width: 100%;
    height: 50vh;
}