body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.to_do_list_article h1 {
    color: #333;
    text-align: center;
}

.to_do_list_article #time{
    text-align: center;
}

.to_do_list_article .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.to_do_list_article #todoInput {
    padding: 8px;
    width: 250px;
}

.to_do_list_article #addButton {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.to_do_list_article .input_date_time{
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
    padding: 0 17px;
}

.to_do_list_article #todoList {
    list-style-type: none;
    padding: 0;
}

.to_do_list_article li {
    margin-bottom: 5px;
    padding: 8px;
    background-color: #dbd3d3;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.to_do_list_article li span {
    flex-grow: 1;
    margin-right: 10px;
}

.to_do_list_article li button {
    padding: 4px 8px;
    margin: 0 5px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
}